@import "tailwindcss";

/*
 * stolen from: 
 * https://www.reddit.com/r/tailwindcss/comments/1iqephx/hide_scrollbar_tailwind_css_40/
 * https://www.reddit.com/r/tailwindcss/comments/1iqephx/comment/mf8ckai/?utm_source=share&utm_medium=web3x&utm_name=web3xcss&utm_term=1&utm_content=share_button
 * */
@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .all-unset {
        all: unset;
    }
}
